* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* Estilos generales + clases */

html {
    scroll-behavior: smooth;
}

body {
    font-size: 1.3rem;
    font-family: "owners-text", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.displayFlex{
    display: flex;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.button {
    background-color: #8d8d8d89;
    border-radius: 30px;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.button:hover {
    background-color: #9cc4ff;
    border-radius: 30px;
}

.backgroundColor{
    background-color: #e3eeff;
}

img{
    width: 100%;
}

/* Estilos generales de letras */

h1 {
    font-weight: 700;
    font-size: 50px;
}

h2 {
    font-weight: 700;
    font-size: 40px;
}

h3 {
    font-weight: 600;
    font-size: 30px;
}

p {
    font-size: 21px;
}

/* Header */

header{
    display: flex;
    width: 1200px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    padding: 15px 0;
}

header figure img {
    width: 100px;
}

header nav ul {
    padding: 3px;
    display: flex;
    list-style: none;
    justify-content: center;
}

header nav ul li {
    margin-left: 10px;
}

header nav ul li a {
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    color: black;
    font-weight: bold;
    padding: 5px 10px;
}

header nav ul li a:hover {
    background-color: #9cc4ff;
    border-radius: 30px;
}

#contacto {
    background-color: #8d8d8d89;
    border-radius: 30px;
}

#contacto:hover {
    background-color: #9cc4ff;
    border-radius: 30px;
}

/* Main */

main section h2{
    margin: 20px;
    width: 100%;
}

/* Div Principal */

#divPrincipal {
    background-image: url("../img/image_8.jpg");
    background-position: center;
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#divPrincipal h1 {
    background-color: #ffffff61;
    border-radius: 45px;
    margin: 4px;
    padding: 10px;
}

#divPrincipal p {
    background-color: #ffffff61;
    border-radius: 45px;
    margin: 4px;
    padding: 10px;
}

/* Section Noticias */

#secNoticias div article{
    width: 380px;
}

#secNoticias div article h3{
    padding-bottom: 8px;
    text-align: left;
}

#secNoticias div article p{
    padding: 0px;
    text-align: left;
    letter-spacing: 2px;
}

#secNoticias div div{
    width: 100%;
}

#secNoticias div article figure span{
    font-weight: bold;
    background-color: rgb(255, 0, 0);
    letter-spacing: 3px;
    display: block;
    width: 70px;
    text-align: center;
    position: relative;
    left: 300px;
    top: -50px;
    border-radius: 10px;
}

/* Section Grilla */

#secGrilla{
    padding-bottom: 30px;
}

#secGrilla div article{
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#secGrilla div article figure img{
    width: 300px;
    height: 200px;
    border-radius: 100px 0px 100px 0px;
}

.boris{
    object-fit: cover;
    object-position: 1px -55px;
}

.sven{
    object-fit: cover;
    object-position: 1px -15px;
}

#secGrilla div table, td{
    text-align: left;
    border-spacing: 10px;
    border-collapse: separate;
    width: auto;
}

#secGrilla div td {
    padding: 6px;
    border: 3px solid #8d8d8d89;
}

#secGrilla div article p{
    letter-spacing: 2px;
    padding-bottom: 5px;
}

/* Section Entradas */

#secEntradas div article{
    width: 25%;
}

#secEntradas div figure{
    width: 50%;
}

#secEntradas div article figure img{
    border-radius: 50%;
    object-fit: cover;
    height: 100px;
    width: 100px;
    transition: transform 0.3s ease-in-out;
}

#secEntradas div article figure img:hover {
    transform: scale(1.1);
}

#secEntradas div article ul{
    padding: 0px 10%;
}

#secEntradas div article div{
    height: 100px;
}

#secEntradas div article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* Section Galeria */

#secGaleria{
    margin-bottom: 30px;
}

#secGaleria div div{
    width: 100%;
}

#secGaleria div div figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#grilla{
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr);
    grid-template-rows: 200px 150px 300px;
    justify-content: center;
    gap: 10px;
    grid-template-areas:"uno    dos tres"
                        "cuatro dos tres"
                        "cuatro dos cinco";
    
}

#grillaUno{
    grid-area: uno;
}

#grillaUno img{
    object-position: 0px -400px;
}

#grillaDos{
    grid-area: dos;
}

#grillaTres{
    grid-area: tres;
}

#grillaCuatro{
    grid-area: cuatro;
}

#grillaCinco{
    grid-area: cinco;
}

/* Section Contacto */

#secContacto div form{
    width: 100%;
}

#inputsContacto{
    display: flex;
    justify-content: center;
}

#inputsContacto div{
    width: 300px;
    text-align: left;
}

#secContacto div form button{
    background-color: #8d8d8d89;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    width: 900px;
    border: 2px solid #50505089;
}

#inputsContacto div input, select {
    padding: 10px;
    border: 1px solid #8d8d8d89;
    border-radius: 4px;
    font-size: 16px;
    width: 240px;
}

/* Footer */

footer {
    background-color: #8d8d8d89;
    text-align: center;
}