* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 1.3rem;
    font-family: "owners-text", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/* Estilos generales de letras */

h1 {
    font-weight: 700;
    font-size: 50px;
}

h2 {
    font-weight: 700;
    font-size: 40px;
}

h3 {
    font-weight: 600;
    font-size: 30px;
}

p {
    font-size: 21px;
}

/* Header */

header {
    display: flex;
    width: 1200px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    padding: 15px 0;
}

header figure img {
    width: 100px;
}

header div figure a img{
    width: 100px;
}

header nav ul {
    padding: 3px;
    display: flex;
    list-style: none;
    justify-content: center;
}

header nav ul li {
    margin-left: 10px;
}

header nav ul li a {
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    color: black;
    font-weight: bold;
    padding: 5px 10px;
}

header nav ul li a:hover {
    background-color: #9cc4ff;
    color: #000000;
    border-radius: 30px;
}

#contacto {
    background-color: #8d8d8d89;
    border-radius: 30px;
}

/* Main */

main section{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main section h2{
    margin: 20px;
    width: 100%;
}

/* Div Principal */

#divPrincipal {
    background-image: url("../img/image_8.jpg");
    background-position: center;
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

#divPrincipal h1 {
    background-color: #ffffff61;
    border-radius: 45px;
    margin: 4px;
    padding: 10px;
}

#divPrincipal p {
    background-color: #ffffff61;
    border-radius: 45px;
    margin: 4px;
    padding: 10px;
}

/* Section Noticias */

#secNoticias article{
    width: 380px;
}

#secNoticias article h3{
    padding: 8px 0px;
    text-align: left;
}
#secNoticias article p{
    padding: 0px;
    text-align: left;
}

#secNoticias button{
    background-color: #8d8d8d89;
    border-radius: 30px;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: bold;
}

#secNoticias div{
    width: 100%;
}

#secNoticias article figure span{
    font-weight: bold;
    background-color: rgb(255, 0, 0);
    letter-spacing: 3px;
    padding: 3px;
    display: block;
    width: 70px;
    text-align: center;
    position: relative;
    left: 300px;
    top: 243px;
    border-radius: 10px;
}

/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */
main section article figure img{
    width: 100%;
}

/* Section Grilla */

#secGrilla article{
    width: 380px;
}

#secGrilla article figure img{
    width: 300px;
    height: 200px;
    border-radius: 100px 0px 100px 0px;
    
}


